/* apply a natural box layout model to all elements */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
}

/* General */
body, html {
  background-color: white;
  margin: auto;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Logo and Navbar */
nav ul {
  margin: 0;
  padding: 15px;
}

nav ul li {
  list-style-type: none;
  margin: auto;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}
.logo img {
  width: 65px;
}


/*MAIN CONTENT*/

main {
  width: 80%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Open Sans';
}

/* Header */
.header {
  padding-top: 20px;
  border-radius: 2px;
  height: 483px;
  margin: auto;
  position: relative;
  width: 1100px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}
.header img {
  height: 483px;
  margin: auto;
  position: relative;
  width: 1100px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


/* Overview */
.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: 25px;
}
.info {
  color: #711F20;
}


.material {
  margin-top: 0.5em;
  font-size: 19px;
}
p, li {
  margin-top: 0.5em;
  font-size: 19px;
  color: #555555;
}
section {
    line-height: 40px;
}

.headers {
  font-size: 30px;
  color: #711F20;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;

}
.pictures1 {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}
.pictures {
  width: 75%;
  text-align: center;
  display: block;
  margin: auto;
}
h2 {
  font-size: 21px;
  color: #555555;
}

.footer {

   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: gray;
   text-align: center;
 }
 .footerline {
  color: #EBEBEB;
 }
 .copyright {
  font-size: 8px;
 }
.htmlcss {
  font-size: 10px;
}

/* MEDIA QUERIES */

/* Smaller devices (landscape phones, 576px and below) */
@media (min-width: 200px) {
  #rwd { background-color: white; }

/* Header */
.header {
  padding-top: 20px;
  border-radius: 2px;
  height: 109.7px;
  margin: auto;
  position: relative;
  width: 250px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}
.header img {
  height: 109.7px;
  margin: auto;
  position: relative;
  width: 250px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.pictures1 {
  width: 200px;
  text-align: center;
  display: block;
  margin: auto;
}
.pictures {
  width: 200px;
  text-align: center;
  display: block;
  margin: auto;
}
  .overview {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  font-size: 25px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #rwd { background-color: white; }
/* Header */
.header {
  padding-top: 20px;
  border-radius: 2px;
  height: 226.1px;
  margin: auto;
  position: relative;
  width: 515px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}
.header img {
  height: 226.1px;
  margin: auto;
  position: relative;
  width: 515px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  font-size: 25px;
}
  
 .pictures1 {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}
.pictures {
  width: 75%;
  text-align: center;
  display: block;
  margin: auto;
}

/* Medium devices (tablets, 768px and up) */
 @media screen and (max-width: 991px) and (min-width: 768px) {
  #rwd { background-color: white; }

/* Header */
.header {
  padding-top: 20px;
  border-radius: 2px;
  height: 316.1px;
  margin: auto;
  position: relative;
  width: 720px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}
.header img {
  height: 316.1px;
  margin: auto;
  position: relative;
  width: 720px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.pictures1 {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}
.pictures {
  width: 75%;
  text-align: center;
  display: block;
  margin: auto;
}

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #rwd { background-color: white; }

/* Header */
.header {
  padding-top: 20px;
  border-radius: 2px;
  height: 483px;
  margin: auto;
  position: relative;
  width: 1100px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}
.header img {
  height: 483px;
  margin: auto;
  position: relative;
  width: 1100px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
 .pictures1 {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
}
.pictures {
  width: 75%;
  text-align: center;
  display: block;
  margin: auto;
}
